<h1>Lista de Productos</h1>

<ul class="product-list">
  {{#each products}}
    <li class="product-card">
      <strong>{{this.title}}</strong> - ${{this.price}} <br>
      <p>{{this.description}}</p><br>
      <p>Código: {{this.code}}</p><br>
      <p>Estado: {{this.status}}</p><br>
      <p>Stock: {{this.stock}}</p><br>
      <p>Categoría: {{this.category}}</p><br>
      {{#if this.thumbnails}}
        <div>
          <img src="{{this.thumbnails.[0]}}" alt="Imagen del producto" />
        </div>
      {{/if}}
      <a href="/product/{{this.id}}" class="product-link">Ver detalles</a>
    </li>
  {{/each}}
</ul>

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}&limit=5" class="pagination-btn">Anterior</a>
  {{/if}}

  <span>Página {{currentPage}} de {{totalPages}}</span>

  {{#if hasNextPage}}
    <a href="/?page={{nextPage}}&limit=5" class="pagination-btn">Siguiente</a>
  {{/if}}
</div>

<a href="/realtimeproducts" class="realtime-link">Ver productos en tiempo real</a>
